.nav-items{
    background-color: black;
    color: white;
    font-size: 170%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;}

    img{ display:flex;
        align-items: center; 
        justify-content: center;
    }

h1{background-color: #efb00c;
        padding: 0;
        margin: 0;
        font-size: 250%;
        display: flex;
        justify-content: flex-start;}
    
.nav-menu {font-family: sarif;
        font-weight: bold;
        font-size: 120%;
        display: flex;}

.body {display: flex;
        flex-direction: column;
        justify-content:space-between;
        font-size: 120%;
        font-family: Impact;
     background-color: rgba(152, 152, 152, 0.25);}

    .food-img{display: flex;
        justify-content:space-around;
        flex-wrap: wrap;}

        
    a.animate__animated:link {color: black; text-decoration: none;}
    a.animate__animated:visited {color: black;text-decoration: none;}
    a.menu-links:link {color: white; text-decoration: none;}
    a.menu-links:visited {color: white;text-decoration: none;}
    a.tour-links:link {color: black; text-decoration: none;}
    a.tour-links:visited {color: black;text-decoration: none;}

div.reasons {
    background-color: #06332c;
    color: #efb00c;
    display: inline-flexbox;
    padding: 0;
    margin: 0;
    font-size: 120%;
    font-family: 	Courier New;
    border-radius: 10px;
    }
    
    
    div.hof {background-image: url("https://www.packershofandtours.com/images/default-source/explore/img_1644__2_.jpg?sfvrsn=d753d8b_8");
        background-color: #cccccc;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relativeimportant background-image: url();
        color: #efb00c;
    } 
    
    
    
    a.menu-links:hover {opacity: 0.3}
   

    .history{width: 35%;}
    .food{width: 22%;}
    .tour{width: 22%;}